body{
    background-color: rgb(120, 132, 132);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(118, 132, 214);
}
a:visited{
    color: rgb(42, 57, 107);
}

a:hover{
    color: aliceblue;
    
}

ul{
    text-align: left;
    list-style: circle;


}

.recipe-list{
    display: flexbox;
    text-align: center;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    padding-left: 5px;
}

.meal-img{
    height: 300px;
    border-radius: 4px;
}

.index-list{
    margin-top: 25%;
    display: flexbox;
    box-sizing: border-box;
}

.recipe-links{
    display:block;
    border: 2.5px solid thistle;
    box-sizing: border-box;
    margin-left: 25%;
    margin-right: 25%;
}